body {
    font-family: "Times New Roman", sans-serif;
}

.home-title {
    font-size: 72px;
    background-color: gold;
    color: white;
    margin: auto;
    padding: 24px;
    text-align: center;
}

.recipe-title {
    font-size: 48px;
    background-color: blue;
    color: white;
}

.list-item {
    background-color: blue;
    color: white;
    text-align: center;
    margin-left: -40px;
    margin-bottom: 16px;
    padding: 24px;

}

.link {
    font-size: 32px;
    color: white;
}

.ingredients {
    color: gold;
    background-color: black;
}

.steps {
    color: black;
    background-color: gold;
}

